<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>17.0</Version>
<Cluster>
<Name>Settings in</Name>
<NumElts>3</NumElts>
<Cluster>
<Name>Hardware Configuration</Name>
<NumElts>2</NumElts>
<String>
<Name>HW Refnum &lt;Replace Me&gt;</Name>
<Val></Val>
</String>
<EW>
<Name>Signal Type &lt;Replace Me&gt;</Name>
<Choice>Sine Wave</Choice>
<Choice>Square with Noise</Choice>
<Val>0</Val>
</EW>
</Cluster>
<Cluster>
<Name>Logging Configuration</Name>
<NumElts>5</NumElts>
<Path>
<Name>Log File Base Path</Name>
<Val>/home/anna/Documents/1Work_in_progress/LabVIEW/DataTest/test.tdms</Val>
</Path>
<Refnum>
<Name>TDMS File Reference</Name>
<RefKind>TDMS File</RefKind>
<Val>0x00000000</Val>
</Refnum>
<Path>
<Name>Log File Offsite Path</Name>
<Val>/run/user/1000/gvfs/dav:host=webdata.tudelft.nl,ssl=true,prefix=%2Fstaff-umbrella/WPB Data/TestLabVIEW/test.bin</Val>
</Path>
<String>
<Name>Project code</Name>
<Val>NAME</Val>
</String>
<Refnum>
<Name>Bin File Reference</Name>
<RefKind>Byte Stream File</RefKind>
<Val>0x00000000</Val>
</Refnum>
</Cluster>
<Cluster>
<Name>Timers</Name>
<NumElts>5</NumElts>
<Boolean>
<Name>Offsite storage?</Name>
<Val>1</Val>
</Boolean>
<DBL>
<Name>Test time [s]</Name>
<Val>10.00000000000000</Val>
</DBL>
<DBL>
<Name>Test time zero run [s] </Name>
<Val>30.00000000000000</Val>
</DBL>
<DBL>
<Name>Max writing time to a file [min]</Name>
<Val>1.00000000000000</Val>
</DBL>
<Boolean>
<Name>Zero run</Name>
<Val>1</Val>
</Boolean>
</Cluster>
</Cluster>
</LVData>