/.~Presentation_ResearchProposal.pptx
/Data acquisition.docx
/Data_acquisition_flow.jpg
/Literature.xlsx
/Overview_validation_data.xlsx
/Paper_version3
/Presentation_v3.pptx
/Research plan
/Risk_analysis_experiments.docx
/Test_setup_exp.docx
/Testplan_calculations.xlsx