<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>17.0</Version>
<Cluster>
<Name>Settings in</Name>
<NumElts>5</NumElts>
<Cluster>
<Name>Hardware Configuration</Name>
<NumElts>2</NumElts>
<String>
<Name>HW Refnum &lt;Replace Me&gt;</Name>
<Val></Val>
</String>
<EW>
<Name>Signal Type &lt;Replace Me&gt;</Name>
<Choice>Sine Wave</Choice>
<Choice>Square with Noise</Choice>
<Val>0</Val>
</EW>
</Cluster>
<Cluster>
<Name>Logging Configuration</Name>
<NumElts>2</NumElts>
<Path>
<Name>Log File Base Path</Name>
<Val>/home/anna/natinst/LabVIEW Data/Logged Data.tdms</Val>
</Path>
<Refnum>
<Name>TDMS File Reference</Name>
<RefKind>TDMS File</RefKind>
<Val>0x00000000</Val>
</Refnum>
</Cluster>
<String>
<Name>Project  code</Name>
<Val></Val>
</String>
<Boolean>
<Name>Offline storage?</Name>
<Val>0</Val>
</Boolean>
<Path>
<Name>Path to offsite data storage</Name>
<Val>/</Val>
</Path>
</Cluster>
</LVData>